<div class="nav-bar">
    <a href = "/" id = "brand-anchor"
    class = "nav-items anchor-buttons">Index</a>
    <a href = "/login" id = "login-button"
    class = "nav-items anchor-buttons">Login</a>
    <a href = "/registration" id = "registration-button"
    class = "nav-items anchor-buttons">Registration</a>
    <a href = "/postimage" id = "post-button"
    class = "nav-items anchor-buttons">Post</a>
    <a href = "/viewpost" id = "view-button"
    class = "nav-items anchor-buttons">ViewPost</a>
    <a href = "/home" id = "home-button"
    class = "nav-items anchor-buttons">Home</a>
</div>