<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login Form</h1>
    </header>
    <form>
        <fieldset>
            <legend>Account Info</legend>
            <label>UserName:</label>
            <input type="text" required/>
            <br />

            <label>Password:</label>
            <input type="password" required/>
        </fieldset>
        <fieldset>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>