<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">
    <title>Post Image</title>
</head>
<body>
    <header>
        <h1>Post Image Form</h1>
    </header>
    <form>
        <legend>Image Details</legend>
        <label>Title:</label>
        <input type="text" required/>
        <br />

        <label>Description:</label>
        <input type="text" required/>
        <br />

        <label>Enter Image:</label>
        <input type="file" required/>
        <br />
            
        <label>Accept TOS and Privacy Rules:</label>
        <a href="#">TOS and Privacy Rules</a>
        <input type="checkbox" required/>
        <br />
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>