<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">
    <title>View Post</title>
</head>
<body>
    <header>
        <h1>Post Title</h1>
        <h2>Post Author</h2>
        <h3>Post Datetime</h3>
    </header>
    <div>   
        <img src="empty.jpg" alt="Enter Image" width="500" height="600" > 
    </div>     
</body>
</html>